@font-face {
    font-family: "KilnSerif";
    src: local("KilnSerif"), url(fonts/KilnSerifRegular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "BenguiatProITC";
    src: local("BenguiatProITC"), url("fonts/BenguiatProITC-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "BenguiatProITC";
    src: local("BenguiatProITC"), url("fonts/BenguiatProITC-Book.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "IndustryInc";
    src: local("IndustryInc"), url("fonts/IndustryIncTest-Stencil.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "BrimNarrow";
    src: local("BrimNarrow"), url("fonts/BrimNarrow-Combined2.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

h2, h3 {
    font-family: var(--heading-font), serif;
    color: var(--text-color);
    text-decoration: none;
    font-weight: normal;
    text-align: center;
    transition: 0.3s;
    font-size: clamp(1rem, 7vmin,2.5rem);
}

#content, p {
    font-family: var(--body-font), serif;
    text-align: center;
    margin: 2rem auto;
    padding: 0 1rem;
    font-size: clamp(1em, 3vmin,1.5rem);
    max-width: 700px;
}

:root  {
    --title_color: #F0F0F0;

    --text-color: #010101;
    --text-secondary: #f0f0f0;

    --nav1: #a30000;
    --nav2: #04395e;
    --nav3: #f9d94e;

    --bg-color: #808b7e;

    --primary: #04395e;
    --secondary: #04395e;

    --body-font: 'BenguiatProITC', sans-serif;
    --title-font: 'BrimNarrow', cursive;
    --heading-font: 'IndustryInc', serif;
}